<main>
  <div [formGroup]="newPostForm" (submit)="sendPost" class="new-post">
    <div class="new-post-header">
      <img class="new-post-img" src="{{profilePhotoUrl}}" alt="Profile Picture">

      <input type="text" formControlName="newPostText" class="new-post-send-input" placeholder="Write something...">

    </div>
    <button class="new-post-send-button" (click)="sendPost()">Submit</button>
  </div>

  <div class="postsContainer">
    <div class="post" *ngFor="let message of messages">
      <app-post [post]="message"></app-post>
    </div>
  </div>
</main>