main {
    width: 70%;
    border: 0.2px solid rgb(235, 220, 220);
}

.new-post {
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 0.2px solid rgb(235, 220, 220);
    display: flex;
    justify-content:space-around; 
    gap: 30px;
}

.new-post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.new-post-img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}


.new-post-counts {
    display: flex;
}

.new-post-counts-item {
    width: 10px;
    height: 10px;
    display: flex;
}


.new-post-send-button {
    width: 100px;
    height: 50px;
    position:relative;
    right:10px;
    padding: 10px;
    background-color: darkred;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}


.new-post-send-input {
    width: 500px;
    height: 50px;
}


.posts-container {
    overflow-y: auto;
}