
<h3>Followers</h3>

<div class="post" *ngFor="let follower of followers">
  <div class="post-header">
    <img src="{{follower.photo}}" alt="Profile Picture">
    <div>
      <h4>{{follower.firstName}} {{follower.lastName}}</h4>
      <h6 style="color:grey">@{{follower.username}}</h6>
    </div>
  </div>
</div>


<h3>Followings</h3> 

<div class="post" *ngFor="let follower of followings">
  <div class="post-header">
    <img src="{{follower.photo}}" alt="Profile Picture">
    <div>
      <h4>{{follower.firstName}} {{follower.lastName}}</h4>
      <h6 style="color:grey">@{{follower.username}}</h6>
    </div>
  </div>
</div>