<div class="post" (click)="getDetail(post.userId)">
  <div class="repost-div" *ngIf="post.isReposted">
    <fa-icon [icon]="faReweet"></fa-icon> by {{post.repostedFirstName}} {{post.repostedLastName}}
  </div>

  <div class="post-header">
    <div>
      <a (click)="getProfile($event, post.userId)"><img src="{{post.photo}}" alt="Profile Picture"></a>
      <div>
        <h4>{{post.firstName}} {{post.lastName}}</h4>
        <h6 style="color:grey">@{{post.username}}</h6>
      </div>
    </div>
    <div (click)="deletePost($event, post.postId)">
      <fa-icon [icon]="faTrashCan"></fa-icon>
    </div>
  </div>

  <div class="post-content">
    <p>{{post.text}}</p>
  </div>
  <div class="post-counts">

    <div class="post-counts-item">
      <span>
        <fa-icon [icon]="faComment"></fa-icon>
        {{post.commentCount}}
      </span>
    </div>

    <div class="post-counts-item">
      <span (click)="repostPost($event, post.id)" [ngClass]="{reposted:post.reposted}">
        <fa-icon [icon]="faReweet"></fa-icon>
        {{post.retweetCount}}
      </span>
    </div>

    <div class="post-counts-item">
      <span (click)="likePost($event, post.id)"  [ngClass]="{reposted:post.liked}">
        <fa-icon [icon]="faHeart" *ngIf="!post.liked"></fa-icon>
        <fa-icon [icon]="fasHeart" *ngIf="post.liked"></fa-icon>
        {{post.likeCount}}
      </span>
    </div>
  </div>

  <div *ngIf="post.comments && post.comments.length > 0">

    <div class="comment" *ngFor="let comment of post.comments">
      <div class="comment-header">
        <img src="{{comment.photo}}" alt="Profile Picture">

        <div>
          <h4>{{comment.firstName}} {{comment.lastName}}</h4>
          <h6 style="color:grey">@{{comment.username}}</h6>
        </div>
      </div>

      <div class="comment-content">
        <p>{{comment.text}}</p>
      </div>
      <div class="comment-counts">

        <div class="post-counts-item">
          <span (click)="getDetail(post.userId)">
            <fa-icon [icon]="faComment"></fa-icon>
            {{post.commentCount}}
          </span>
        </div>

        <div class="post-counts-item">
          <span (click)="repostPost($event, post.userId)" [ngClass]="{reposted:post.reposted}">
            <fa-icon [icon]="faReweet"></fa-icon>
            {{post.retweetCount}}
          </span>
        </div>
    
        <div class="post-counts-item">
          <span (click)="likePost($event, post.userId)"  [ngClass]="{reposted:post.liked}">
            <fa-icon [icon]="faHeart" *ngIf="!post.liked"></fa-icon>
            <fa-icon [icon]="fasHeart" *ngIf="post.liked"></fa-icon>
            {{post.likeCount}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div> 