header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: darkred;
}

#notifications-container {
    border-radius: 5px;
}

.notification {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2px solid rgb(235, 220, 220);
}

.notification-type {
    font-weight: bold;
    color: darkred;
}

.notification-time {
    float: right;
    color: #999;
}

.notification-message {
    display: block;
    margin-top: 5px;
    color: #333;
    padding-left: 15px;
}