<div class="container">
  <div *ngIf="showNav()" class="navContainer">
    <nav *ngIf="!loggedIn()">
      <a [routerLink]="['/login']">Log In</a>
    </nav>
    <nav *ngIf="loggedIn()">
      <ul>
        <li>
          <a [routerLink]="['/home']" routerLinkActive="active" class="nav-link">
            <span class="icon"><fa-icon [icon]="faHome"></fa-icon></span>
            <span class="text">Home</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/profile/' + id]" routerLinkActive="active" class="nav-link"> 
            <span class="icon"><fa-icon [icon]="faUser"></fa-icon></span>
            <span class="text">Profile</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/notifications']" routerLinkActive="active" class="nav-link">
            <span *ngIf="notificationCount > 0" class="badge"
              [attr.aria-label]="notificationCount + ' unread notifications'">
              {{ notificationCount > 99 ? '99+' : notificationCount }}
            </span>
            <span class="icon"><fa-icon [icon]="faBell"></fa-icon></span>
            <span class="text">Notifications</span>
          </a>
        </li>
        <li>
          <a (click)="logout()" routerLinkActive="active" class="nav-link">
            <span class="icon"><fa-icon [icon]="faRightFromBracket"></fa-icon></span>
            <span class="text">Log Out</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>