<div class="profile">
  <div>
    <img src="{{user.photo}}" alt="Profile Picture">
    <h3>{{user.firstName}} {{user.lastName}}</h3>
    <h6 style="color:grey">@{{user.username}}</h6>
  </div>
  <div style="padding:15px">
    <p>{{user.bio}}</p>
  </div> 

  <div *ngIf ="isUsersPage">
    <button>Settings</button>
  </div>
   <div *ngIf ="!isUsersPage">
    <button *ngIf ="user.following" (click)="changeFollow()">{{followButtonLabel}}</button>
    <button *ngIf ="!user.following" (click)="changeFollow()">{{followButtonLabel}}</button>
  </div>
</div>

<div class="container">
  <a [routerLink]="['/followers/' + user.id]"><b>{{user.followerCount}}</b> follower</a> &nbsp;
  <a [routerLink]="['/followers/' + user.id]"><b>{{user.followingCount}}</b> following</a>
</div>

<br>
<div class="container" style="height:10px">
  <div>
    <a><b>Posts</b></a> &nbsp;
    <a>Likes</a> &nbsp;
  </div>
</div>

<br>
<div *ngFor="let message of posts">
  <app-post [post]="message"></app-post>
</div>