.container {
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    /*border-bottom: 0.5px solid rgb(235, 220, 220);*/
}

.container a {
    text-decoration: none;
    color: black;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    padding: 20px;
    /*border-bottom: 0.5px solid rgb(235, 220, 220);*/
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.profile p {
    color: #657786;
}

.follower-div {
    margin-top:20px;
}
